<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Hello Spring Security</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span sec:authentication="name"></span> |
            <p>Roles: <span sec:authentication="principal.authorities"></span></p>
            <a href="swagger-ui.html">Click here to go to Swagger UI</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <h1>Spring Security SSO</h1>
            <a href="login">Click here to Login</a>
        </div>
    </body>
</html>